* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
}

.grid {
    margin-left: 500px;

    position: absolute;
    width: 560px;
    height: 300px;
    border: solid 2px black;
    /* margin-top: 200px; */

}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: navy;
}

.user {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: blueviolet;
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: brown;
}

.score {
    margin-left: 500px;
    margin-top: 200px;
}