* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    min-width: 50vw;
    min-height: 50vh;
    border: 10px solid burlywood;
    position: absolute;
    margin-top: 100px;
}

.block {
    height: 5vh;
    width: 20vh;
    background-color: navy;
    position: absolute;
}

.user {
    height: 2vh;
    width: 15vh;
    background-color: purple;
    position: absolute;
}

.ball {
    height: 2vh;
    width: 2vh;
    border-radius: 50%;
    background-color: burlywood;
    position: absolute;
}